<div *ngIf="this.refresh.isEditing">
  <form [formGroup]="editForm">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-sm-6">
        <button
          type="button"
          class="btn btn-warning"
          style="margin-right: 4px;"
          *ngIf="!editMode"
          (click)="onSave()"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-warning"
          style="margin-right: 4px;"
          *ngIf="editMode"
          (click)="onUpdate()"
          [disabled]="!editForm.valid"
        >
          Update
        </button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">
          Cancel
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            formControlName="name"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="color">Color</label>
          <input
            type="text"
            name="color"
            id="color"
            class="form-control"
            formControlName="color"
          />
        </div>
      </div>
    </div>
  </form>
</div>
